doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title Untitled
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='parallel.js')
    script(src='app.js')

  body
    block content

